
<script type="text/javascript" src="./header.js"></script>
<header class="header">
    <div style="justify-content: space-between; display: flex; align-items: center; max-width: 72rem; margin-left: auto; margin-right: auto; padding: 0.75rem;">
        
        <h1 style="font-weight: bold; font-size: 0.87rem; display: flex; flex-wrap: wrap; ">
            <span style="color:  rgb(128, 98, 53)">DISIGROUP</span>
            <span style="color: rgb(116, 104, 185);">EDMS</span>
        </h1>
    
        <!-- <ul style="display: flex; gap: 1rem; list-style: none;">
        
            <li ><a style="color: white; text-decoration: none;" href="#">Home</a></li>
         
            <li ><a style="color: white; text-decoration: none;"  href="#">About</a></li>

            <li ><a style="color: white; text-decoration: none; " href="/src/pages/login.html">Sign In</a></li>
        </ul> -->
    </div>
</header>

<style>
    .header{
        background-color: rgb(79, 121, 76); box-shadow: 0 4px 6px -1px;
    }
</style>
<script>
</script>